:root{
    --main-radius:5px;
    --main-padding:5px;
}

body{
    margin: 0;
    background-image: url(/images/bg.jpg);
}


.containor{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    font-family: "Inter" sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    box-sizing: content-box;
    
}

nav{
    
    grid-area: nav;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}

.links{
    display: flex;
    border-radius:var(--main-radius);
    padding:var(--main-padding);     
    
}

a{
    border-radius:var(--main-radius);
    padding:var(--main-padding);
    color: #1F1D36;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 25px;
}

h1{
    text-align: center;
}

main{
    grid-area:main;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}

#container article {
	flex: 1 1 auto;
	overflow-y: scroll;
    
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}

.sidebar{
    box-sizing: border-box;
}


