@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");


:root{
    --main-radius:5px;
    --main-padding:5px;
}

body{
    margin: 0;
}

.containor{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    font-family: "Inter" sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    grid-gap: 0.5rem;
    background-image: url(images/background.jpg);
    
}

nav{
    
    grid-area: nav;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}

.links{
    display: flex;
    border-radius:var(--main-radius);
    padding:var(--main-padding);     
    
}

a{
    border-radius:var(--main-radius);
    padding:var(--main-padding);
    color: #1F1D36;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 25px;
}

p{
    text-size-adjust: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FAEEE7;
    font-weight: lighter;
    float: right;
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    color: white;
}

.readmore {
    text-decoration: none;
}
button {
    border-radius: 4px;
    background-color: #9aabbb;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 8px;
    right: -30px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }

main{
    grid-area:main;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}

#sidebar{
    grid-area:sidebar;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

table{
    grid-area:sidebar;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
}



footer{
    grid-area:footer;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
    

}
.ft-info{color: #1F1D36;
    float: none;
}

html, body {
    height: 100%;    
}
#container {
	display: flex;
	flex-direction: column;
	height: 100%;
    grid-area: main;
}
#container article {
	flex: 1 1 auto;
	overflow-y: auto;
    border-radius:var(--main-radius);
    padding:var(--main-padding);
    overflow: auto;
    /* opacity: 0.8; */
}

img {
    width: 72vw;
    border-radius: 5px;
}


@media only screen and (max-width:550px) {
    .containor{ 
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "main"
        "main"        
        "footer";

    }
    img {
        visibility: hidden;
    }
    @media only screen and (max-width:250px) {
    .navbar a {
        float: none;
        display: block;
      }

}



}

/* @media screen and (min-width: 291px) {
    
} */

